@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

html, body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: #fff !important;
    background-color: #111827;
    max-width: 100%;
    min-width: 352px !important;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.logo{
    padding-left: 20px;
    text-decoration: none;
    color: white;
    font-size:large;
    font-weight: 600;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.hero{
    align-items:right;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    font-size: larger;
    margin-top:0px;
    margin:30px;
}
.hero-h1 {
    font-weight: 500;
    font-size: 50px;
    margin-right:50px;
    text-align: left;
}
.hero Button{
    font-size:large;
}
.hero-text {
    margin: 50px 50px;
    text-align: left;
}
.hero img{
    max-width:100%;
    height: auto;
    padding-right: 32px;
}
.para{
    opacity: 0.6;
    font-size:20px;
}
.parag{
    opacity:0.8;
}
.hero-button{
    padding: 10px 20px;
    font-size: 1.2rem;
    color:white;
    background-color:#0D6EFD;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.foot-container{
    padding:20px;
    display:flex;
    justify-content:space-between;
    color: white;
    text-align: left;
    margin:0 20px;
}
.foot-text{
    max-width: 30%;
}
.end-text{
    color:#a0a0a0;
    text-align: left;
    margin:1rem 0;
}
.user_input{
    width: 80%;
    color:#a0a0a0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #374151;
    border-radius: 50px;
    position: relative;
    top: -70px;
    margin-left: 6%;
}
login_page{
    max-width:60%;  
}


.dropdown-toggle::after {
    display: none;
}

.app-store-icons img {
    width: 120px;
    height: 40px;
    margin-right: 10px;
}

.search {
    width: 50px;
    height: 50px;
}

:focus-visible {
    outline: none;
}

.main-section {
    min-height: 400px;
}

.dropdown-item {
    border-radius: 3rem;
}